.cardWrapper {
  padding: 50px 20px;
}
.cardcontent {
  padding: 20px;
  border: 1px solid var(--faintgrey);
  background-color: var(--white);
  width: 100%;
}
.cardcontent p {
  padding: 20px 0;
}
.btnDiv {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.deletediv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.modal p {
  padding: 20px 0;
}
/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  .cardWrapper {
    margin-left: 18%;
  }
  .cardcontent {
    width: 55%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
  .cardcontent {
    width: 100%;
  }
}
