.compBorderWrapper {
  border: 1px solid var(--bordercolor);
  padding: 5px 10px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.compDiv {
  padding: 10px;
}
.compDiv h2 {
  text-align: left;
  padding: 10px 0;
}
.compDiv p {
  text-align: left;
  padding: 10px 0px;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  /* For desktops: */
  .compDiv {
    padding: 30px;
  }
}

@media screen and (min-width: 600px) {
  /* For tablets: */
}
