.modal {
  /* visibility: hidden;
  opacity: 0; */
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0px;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  padding: 0 10px;
  z-index: 9;
}

.modal:target {
  /* visibility: visible;
  opacity: 1; */
}

.modalcontent {
  border-radius: 4px;
  position: relative;
  /* width: 500px; */
  max-width: 100%;
  bottom: 34%;

  background: #fff;
  padding: 1em 2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modalclose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  /* For desktop: */
  .modal {
    top: 0%;
  }
  .modalcontent {
    max-width: 34%;
    right: 30%;
    bottom: 16%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
}
