.post_div {
  padding: 50px 0px;
}
.post_div h1 {
  color: var(--grey);
  outline: none;
}

.coverImgDiv {
  display: inline-flex;
  width: fit-content;
  transition: color 0.5s ease-in-out;
}
.coverImgDiv:hover {
  color: var(--secondary);
  cursor: pointer;
}
.coverImgDiv p {
  font-size: 0.9rem;
}
.headingH1 {
  padding: 15px 0;
  font-size: 1.8rem;
  color: var(--black);
  width: 90%;
}
.headingH1::placeholder {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px 0;
 
}
.coverimgshow {
  object-fit: cover;
  background-size: contain;
  width: 100%;
  position: relative;
}
.cancelimgbtn{
  position: absolute;
  top: 18%;
  right: 10%;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--grey);
}

/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 1025px) {

  .headingH1 {
    font-size: 2.4rem;
  }
  .inputH1::placeholder {
    font-size: 2.8rem;
  }
  .cancelimgbtn{
    top: 20%;
    right: 6%;

  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
  .post_div {
    padding: 50px 0px;
  }
  .coverimgshow {
    width: 100%;
  }
  .cancelimgbtn{
    top: 13%;
    right: 11%;

  }
}
