.tagsHeader {
  background-color: var(--tagspink);
  text-align: center;
  padding: 14px 0;
}
.desc {
  font-size: 0.8rem;
  margin: 10px 0;
}
.tagWrapper {
  display: flex;
  flex-wrap: wrap;
}
.tagdiv {
  font-size: 0.8rem;
  background-color: var(--lightgrey);
  padding: 5px 6px;
  margin-right: 8px;
  margin-bottom: 8px;
}
