.tagsHeader {
  background-color: var(--tagspink);
  text-align: center;
  padding: 14px 0;
}
.desc {
  font-size: 0.8rem;
  margin: 12px 0;
}
.tagWrapper {
  display: flex;
  flex-wrap: wrap;
}
.tagdiv {
  font-size: 0.8rem;
  background-color: var(--lightgrey);
  padding: 5px 6px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.tagdiv:hover {
  background-color: var(--secondary);
  color: var(--lightgrey);
  transition: all 0.5s;
}
