.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 70px 0; */
}
.showheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.fakeBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 25px;
  padding: 1px 4px;
  background-color: var(--faintpink);
}
.fakeBtnWrapper p {
  font-size: 0.75rem;
  padding: 0 14px;
}
.description {
  text-align: center;
  width: 95%;
  padding: 12px 0;
}
.description p {
  padding: 5px 0;
}
.heading {
  font-size: 2rem;
  text-align: center;
  background-image: var(--textGradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  /* composes: textGradient from "../../globalstyles/sharedcss.css"; */
}
.arrowicon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  padding: 1px;
  border-radius: 50%;
}
.blogsection {
  padding: 30px 0;
}
.headingh4 {
  padding: 10px 0;
}
.blogGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  /* For desktops: */
  .main {
    padding: 0px 100px;
    position: relative;
  }
  .showheader {
    padding: 100px 20px;
  }
  .fakeBtnWrapper p {
    font-size: 0.75rem;
    padding: 0 14px;
  }
  .heading {
    font-size: 3rem;
    text-align: center;
    width: 60%;
  }
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headingh4 {
    margin-bottom: 30px;
  }
  .description p {
    width: 45%;
    display: flex;
    align-items: center;
  }
  .blogGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
  .main {
    padding: 0px 20px;
  }
  .showheader {
    padding: 50px 0;
  }
  .blogGrid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
