.formWrapper {
  height: 120%;
  width: 100%;
  background: var(--bgGradient);
  padding: 0 20px;
  position: absolute;
}
.formBg {
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  background-color: var(--white);
  transform: translate(0%, 6%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* animation: moveup 0.5s; */
}
.spancolor {
  color: var(--red);
  padding: 0 1px;
}

/* @keyframes moveup {
  0% {
    transform: translate(92%, 4vh);
  }
  100% {
    transform: translate(92%, 6%);
  }
} */
.btnContentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnIconDiv {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
}
.formheader {
  color: var(--fadedblack);
  text-align: center;
  line-height: 1.2em;
}
.formtext {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}
.inputlabel {
  font-size: 0.8rem;
  margin: 15px 0;
}
.btnWrapper {
  margin: 14px 0;
}
.formlinktext {
  text-align: center;
  font-size: 0.8rem;
  color: var(--grey);
}
.formlinktext span {
  color: var(--primary);
  margin: 0 5px;
  text-decoration: underline;
}
.eyeIcon {
  color: var(--grey);
  cursor: pointer;
  margin: 0 7px;
}
.pwdInputDiv {
  display: flex;
  align-items: center;
  background-color: var(--formInputBg);
}
.pwdInputDiv p{
  font-size: 0.8rem;
  padding: 0 5px;
  color: var(--faintgrey);
}
.divider {
  border-right: 1px solid var(--bordercolor);
  height: 30px;
}
.inputStyle {
  padding: 14px 5px;
  width: 100%;
  border: none;
  background-color: var(--formInputBg);
  border-radius: 5px;
  position: relative;
}
.inputStyle::placeholder {
  color: var(--faintgrey);
}
.inputStyle:focus {
  border: 2px solid var(--primary);
  outline: none;
}
.spanclass {
  color: var(--red);
  font-size: 0.7rem;
}
.loadingIcon {
  margin: 0 6px;
}
.homelink{
  margin-top: 100px;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fadedblack);
  text-decoration: underline;
}
/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  /* For desktops: */

  .formBg {
    padding: 30px 40px;
    width: 35%;
    transform: translate(92%, 9%);
  }
  .homelink{
    margin-top: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
  .formBg {
    padding: 50px 60px;
    width: 65%;
    transform: translate(27%, 18%);
  }
  .homelink{
    margin-top: 150px;
  }
}
