.post_div {
  padding: 80px 180px;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.form_input::placeholder,
.form_excerpts::placeholder,
.form_mainpost::placeholder {
  padding: 10px 20px;
}
.label {
  font-weight: bold;
}
.form_input {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.form_excerpts {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.form_mainpost {
  height: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
}
