.profilewrapper {
  margin-top: 60px;
  padding: 20px;
  background-color: var(--white);
}
.profileimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.label {
  font-weight: 600;
  padding: 15px 0;
  font-size: 0.8rem;
}
.imgdiv {
  position: relative;
  width: fit-content;
}
/* .profileupload {
  position: absolute;
  bottom: 3px;
  left: 22px;
  z-index: 99;
} */

.hovered .overlay {
  opacity: 1;
}
.icondiv {
  background-color: var(--white);
  border: 1px solid var(--faintgrey);
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* z-index: 9999; */
  /* opacity: 0; */
  transition: opacity 0.3s ease-in-out;
}
.cameraicon {
  color: var(--white);
  cursor: pointer;
}
.deleteicon {
  margin-left: 2px;
}
.btndiv {
  padding: 20px 0;
}

.inputStyle {
  padding: 14px 5px;
  width: 100%;
  border: none;
  background-color: var(--formInputBg);
  border-radius: 5px;
  position: relative;
}

/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  .profilewrapper {
    padding: 20px 50px;
    margin-left: 18%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
}
