.profilewrapper {
  margin-top: 60px;
  padding: 20px;
  background-color: var(--white);
}
.label {
  font-weight: 600;
  padding: 15px 0;
  font-size: 0.8rem;
}
.profileimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.icondiv {
  background-color: var(--white);
  border: 1px solid var(--faintgrey);
  width: 21px;
  height: 21px;
  position: absolute;
  top: 47%;
  right: 73%;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}
.deleteicon {
  margin-left: 2px;
}
.select {
  width: 100%;
  padding: 14px;
  margin: 15px 0;
  background-color: var(--formInputBg);
  border: none;
}
.btndiv {
  padding: 10px 0;
}
/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  .profilewrapper {
    padding: 20px 50px;
    margin-left: 18%;
  }
  .icondiv {
    top: 53%;
    right: 72%;
  }
  .select {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
  .icondiv {
    top: 37.5%;
    right: 64%;
  }
  .select {
    width: 60%;
  }
}
