.profileDiv {
  background-color: #fff;
  width: 50%;
  height: auto;
  padding: 10px 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border-radius: 5px;
  position: absolute;
  top: 100%;
  z-index: 999;
  right: 4%;
  transition: all 0.5s ease;
}
.profilelink {
  text-decoration: none;
}
.profilelink li {
  color: #202a3b;
  font-size: 0.8rem;
  list-style: none;
  padding: 8px 0;
  cursor: pointer;
}
.hrStyle {
  width: 80%;
  margin: 0 auto;
  color: #eff1f53e;
}

/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  /* For desktops: */
  .profileDiv {
    width: 15%;
  }
}
@media screen and (min-width: 600px) {
  /* For tablets: */
  .profileDiv {
    width: 20%;
  }
}
