.sidebarStyles {
  width: 52%;
  background-color: var(--white);
  z-index: 999999;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: transform 0.3s;
  /* padding: 10px 20px; */
}
.sidelogo {
  padding: 12px 20px;
}

.menutext {
  color: var(--menutextcolor);
  padding: 12px 20px;
}
.sidelabeldiv,
.activeclass {
  display: flex;
  align-items: center;
}
.activeclass {
  color: var(--secondary);
  font-weight: 600px;
}
.sideicon {
  display: flex;
  align-items: center;
}
.sideul {
  padding: 80px 0;
}
.sideli {
  list-style: none;
  padding: 12px 20px;
}
.sideli:hover {
  background-color: var(--faintpink);
  padding: 12px 20px;
}
.sidespan {
  margin: 0 10px;
  font-size: 0.9rem;
}
.logouttext {
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--bordercolor);
  width: 100%;
  padding: 20px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logouttext p {
  margin: 0 8px;
  color: var(--secondary);
}
/**========================MEDIA QUERIES==================================**/

@media screen and (min-width: 768px) {
  /* For desktops: */
  .sidebarStyles {
    width: 18%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablets: */
}
